.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2c2c2e;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
   width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


html,
/* body { */
   /* height: 100%;  */
}
html {
  font-size: 10px;
}
body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background: #8ed0e2;
}

/*------------------------------------*/
.app {
  background: lightskyblue;
  padding: 3rem 7.5rem;
  border-radius: 0.8rem;
}

.Game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
  /* align-content: center; */
}
.nameInput {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 250px;
}

.code {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 250px;
}

.headline {
  font-size: 5rem;
  font-weight: normal;
  font-family: "Griffy", cursive;
  text-align: center;
  color: DarkSlateBlue;
  color: mintcream;
}

p {
  font-size: 3.8rem;
  font-weight: 400;
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-align: center;
  color: DarkSlateBlue;
}

button {
  border-style: none;
  background: DarkSlateBlue;
  text-transform: uppercase;
  color: white;
  font-size: 2.8rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin: 20px;
  margin-top: 40px;

}
button:hover {
  background: blue;
}
button:active {
  background: blueviolet;
}

input {
  border-radius: 0.5rem;
  outline: none;
  border: 10px solid transparent;
  padding: 0 2rem;
  font-size: 2.5rem;
  transition: border 0.5s;
}
input:focus {
  border: 4px DarkSlateBlue solid;
}

table,
tr,
td {
  border: 1px solid darkslateblue;
  border-collapse: collapse;
  text-align: center;
}

table {
  margin-top: 30px;
}

td {
  width: 100px;
  height: 100px;
  font-weight: bold;
  color: white;
  font-size: 30px;
}

td:hover {
  background-color: darkslateblue;
}

